

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    
    
}


.header {
    display: flex;
    background-color: rgba(226, 230, 14, 0.842);
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    height: 300px; /*deixar o header como uma faixa larga*/

}

.header_logo {
    font-size: 36px;
    text-transform: uppercase;
    margin-left: 16px;
    letter-spacing: 2px;
    
}

header img {
    width: 160px;
    height: 160px;
    border-radius: 15%;
}
.header_nav ul {
    display: flex; /*isto fez com q os itens ficassem lado a lado, e não em coluna*/
    list-style-type: none;
    font-size: 18px;
    gap: 16px; /*isto fez com que ficasse um espaço proporcional entre um item e outro*/
}


li a {
    background-color: black;
    border-radius: 3px;
    color: #f9faf7;
    padding: 8px;
    text-decoration: none;
}

a:hover{
    background-color: rgb(254, 250, 250);
    transition-duration: 0.1s;
    color: #050508;
}

/*Fim do Cabeçalho*/



section {
   background-color: white;
   display: flex;
   padding: 25px;
   align-items: center;

}

h2 {
   padding-top: 15px;
    text-align: center;
}

#orcar {
    background-color: rgba(226, 230, 14, 0.842);
    width: 100%;
    height: 300px;  
}

#address {
   background-color: #e2e60ed7;
   
}

img {
   width: 350px;
}


/*início do rodapé da página*/
footer {
   height: 100px;
   color: black;
   background-color: #e2e60ed7;
   text-align: center;
   font-size: small;

}

footer p {
   height: 30px;
   display: block;
   padding: 45px;
   font-size: 16px;
   text-align: center;
}

