body {
    background: rgb(86, 149, 207);
    font: normal 15pt Arial;
    
}

main {
    color: black;
    text-align: center;
}

div.title{
    margin: 20px;
    text-transform: uppercase;
    background-color: black;
    color: white;
   
}

div.container {
    background: rgb(244, 218, 21);
    display: inline-block;
    width: 40%;
    height: 500px;
    border-radius: 6px;
    text-align: center;
    
}

div.resultado {
    background-color: black;
    color: white;
}

